body {
    background-image: url("1.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;

}

button{

    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 5px ;
    margin-bottom: 10px;
}





h1 {
    color: goldenrod;
}

#message-el {

    font-style: italic;
}
